

@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        .margin{
            margin-top:200px;
        }
    </style>
</head>
<body class="margin">

    <div>@Html.Action("Banner", "Home")</div>

    <div>@Html.Action("ProductHot", "Product")</div>
</body>
